# Print

In [3]:
print ('Ini Kelas Algoritma!')

Ini Kelas Algoritma!

In [4]:
print ("Ini Kelas Algoritma")

Ini Kelas Algoritma

In [5]:
print ("I don't like you" )

I don't like you

In [6]:
print ('He is so "FUNNY"')

He is so "FUNNY"

In [7]:
print ('You look "TIRED" And Have Dark Circles Under Your Eyes')

You look "TIRED" And Have Dark Circles Under Your Eyes

In [8]:
gaji_bulan_ini = 700000000
uang_di_bank = 9000000000
print(gaji_bulan_ini)
print (uang_di_bank)
print (gaji_bulan_ini*uang_di_bank)

700000000
9000000000
6300000000000000000

In [9]:
nama_depan = "Silvia"
nama_tengah = "Helena"
nama_belakang = "Ngantung"
print (nama_depan + nama_tengah + nama_belakang)

SilviaHelenaNgantung

In [10]:
nama_depan = "Silvia"
nama_tengah = "Helena"
nama_belakang = "Ngantung"
nama_paling_belakang = "cantikkkk"
print (nama_depan + nama_tengah + nama_belakang + nama_paling_belakang)

SilviaHelenaNgantungcantikkkk

# Input

In [11]:
nama = input ("Siapakah nama kamu?")
kegiatan = input ('Apakah hobby anda sekarang, ' + nama +"?")
print ("Semangat "+ kegiatan +" nya yahhhh, " + nama + "!!!")

Siapakah nama kamu?Helena
Apakah hobby anda sekarang, Helena?Makan
Semangat Makan nya yahhhh, Helena!!!

In [12]:
nama = input ("Siapakah anda?")
Kegiatan = input ('Apa tujuan anda, ' + nama +"?")
print ("Menyenangkan yhh bisa "+ kegiatan +" gratis wkwkwkwk, ")

Siapakah anda?Silvia
Apa tujuan anda, Silvia?Makan gratis
Menyenangkan yhh bisa Makan gratis wkwkwkwk,

# Tipe Data pada Python

Terdapat 4 tipe data pada python. Tipe datanya sebagai berikut, 
1. Bilangan bulat (int), contohnya: 1,2,3,4,5,100,1000, -20, 0,dll
2. Bilangan real (float), contohnya: 1.2, 4.1, -6.3, -2.3, dll
3. String (str), contohnya: "huruf, "ini contohnya"
4. Boolean (bool), contohnya: True or False

In [13]:
uang_di_dompet = input("Berapakah jumlah uang di dompet anda? ")
uang_di_bank = input("Berapakah jumlah uang anda di Bank? ")
print ("Total uang anda adalah Rp " + uang_di_dompet + uang_di_bank)

Berapakah jumlah uang di dompet anda? 290000
Berapakah jumlah uang anda di Bank? 12
Total uang anda adalah Rp 29000012

In [14]:
uang_di_dompet = input("Berapakah jumlah uang di dompet anda? ")
uang_di_bank = input("Berapakah jumlah uang anda di Bank? ")
total_uang = int(uang_di_dompet) + int(uang_di_bank)
print("Total uang anda adalah Rp "+ str(total_uang))

Berapakah jumlah uang di dompet anda? 250
Berapakah jumlah uang anda di Bank? 2500000000
Total uang anda adalah Rp 2500000250

In [16]:
bilangan_satu = input("Masukan bilangan pertama: ")
bilangan_kedua = input("Masukan bilangan kedua: ")
jumlah = float(bilangan_satu) + float(bilangan_kedua)
print("jumlah kedua bilangan adalah "+ str(jumlah))

Masukan bilangan pertama: 2
Masukan bilangan kedua: 5
jumlah kedua bilangan adalah 7.0

jumlah kedua bilangan adalah 7.0 tipe data yang dimasukan adalah float

In [17]:
bilangan_satu = input("Masukan bilangan pertama: ")
bilangan_kedua = input("Masukan bilangan kedua: ")
jumlah = int(bilangan_satu) + int(bilangan_kedua)
print("jumlah kedua bilangan adalah "+ str(jumlah))

Masukan bilangan pertama: -20
Masukan bilangan kedua: 45
jumlah kedua bilangan adalah 25

In [ ]:
Jumlah kedua bilangan adalah 25 dengan tipe data integer.

# Formatted String

In [ ]:
nama = "Helena"
pekerjaan = 'dosen'
institusi = 'Universitas Udayana'
print(nama + ' adalah seorang ' + pekerjaan + ' di ' + institusi +'.')

In [ ]:
print(f'{nama} adalah seorang {pekerjaan} di {institusi}.')

In [ ]:
print(f"{nama} adalah seorang {pekerjaan} di {institusi}.")

# Strings Index

In [18]:
kelas = 'ini  kelas algoritma'

In [19]:
print(kelas[0:3])

ini

In [20]:
print(kelas[0:-1])

ini kelas algoritm

In [21]:
print(kelas[5:-1])

elas algoritm

In [22]:
print(kelas[2:-1:3])

ieslrm

In [23]:
print(kelas[:-3])

ini kelas algori

In [24]:
print(kelas[1:])

ni kelas algoritma

In [25]:
print(kelas[:])

ini kelas algoritma

# String Methods

In [27]:
judul = 'Raja Ampat Surga Kecil Jatuh ke Bumi'

In [28]:
print(len(judul))

36

In [29]:
judul.upper()

'RAJA AMPAT SURGA KECIL JATUH KE BUMI'

In [30]:
judul.lower()

'raja ampat surga kecil jatuh ke bumi'

In [32]:
judul.find('Ampat')

5

In [33]:
judul.find('Bumi')

32

In [37]:
judul.replace('Raja Ampat', 'Papua')

'Papua Surga Kecil Jatuh ke Bumi'

In [38]:
judul.replace('Raja Ampat', 'Indonesia')

'Indonesia Surga Kecil Jatuh ke Bumi'

In [39]:
print('Raja Ampat' in judul)

True

In [40]:
print('Papua' in judul)

False

# Operasi Matematika di Python

In [ ]:
Operasi-operasi matematika di Python sebagai berikut:
    Penjumlahan (+)
    Pengurangan (-)
    Perkalian (*)
    Pembagian (/)
    Pembulatan pembagian (//)
    Modulo (%)
    Pemangkatan (**)
    Augmented Operator

In [41]:
print(5+6)
print(4-5)
print(7*8)
print(8/5)
print(8//5)
print(7%6)
print(5**2)
x=4
x+=2
print(x)
x-=3
print(x)
x*=4
print(x)

11
-1
56
1.6
1
1
25
6
3
12

# Operator Perbandingan di Python

Terdapat beberapa operator perbandingan pada python, sebagai berikut:
Lebih Besar (>)
Lebih kecil (<)
Lebih besar sama dengan (>=)
Lebih kecil sama dengan (<=)
Sama dengan (==)
Tidak sama dengan (!=)

In [42]:
x = 5>4
print(x)
x = 4<5
print(x)
x = 5 >= 4
print(x)
x = 4 <= 5
print(x)
x = 5 == 5
print(x)
x = 4 != 5
print(x)

True
True
True
True
True
True

In [43]:
x = 5<4
print(x)
x = 4>5
print(x)
x = 5 <= 4
print(x)
x = 4 >= 5
print(x)
x = 5 == 4
print(x)
x = 4 != 4
print(x)

False
False
False
False
False
False

# Operator Logika di Phyton

In [47]:
telur_kalkun = 100 
telur_itik = 50 
print (telur_kalkun > 95 and telur_itik < 80)

True

In [48]:
print (telur_kalkun > 70 or telur_itik < 80)

True

In [49]:
print (telur_kalkun < 70 or telur_itik > 80)

False

In [50]:
print (telur_kalkun < 70 or telur_itik < 80)

True

In [51]:
print(not(telur_kalkun < 70 or telur_itik > 80))

True

# Operator if di Phyton

In [54]:
nilai  = float(input("Nilai anda adalah "))
if nilai >= 85:
    print("Anda Mendapatkan nilai A")
    print("kamu hebattt!!!")
if nilai < 80 and nilai >= 70:
    print("Anda mendapatkan nilai B")
    print("fighting!!!! you can get it")
if nilai >= 60 and nilai < 70:
    print("Anda mendapatkan nilai C")
    print("Lain kali harus lebih semangat lagi belajarnya")
if nilai >= 50 and nilai < 60:
    print("Anda mendapatkan nilai D")
    print("Jangan menyerah yahhh!!!")
if nilai < 50:
    print("Anda mendapatkan nilai E")
    print("Kamu sihhh malassss")

Nilai anda adalah 75
Anda mendapatkan nilai B
fighting!!!! you can get it

In [57]:
nilai  = float(input("Nilai anda adalah "))
if nilai >= 85:
    print("Anda Mendapatkan nilai A")
    print("kamu hebattt!!!")
elif nilai >= 70:
    print("Anda mendapatkan nilai B")
    print("fighting!!!! you can get it")
elif nilai >= 60:
    print("Anda mendapatkan nilai C")
    print("Lain kali harus lebih semangat lagi belajarnya")
elif nilai >= 50:
    print("Anda mendapatkan nilai D")
    print("Jangan menyerah yahhh!!!")
else:
    print("Anda mendapatkan nilai E")
    print("Kamu sihhh malassss")

Nilai anda adalah 84
Anda mendapatkan nilai B
fighting!!!! you can get it

In [58]:
tinggi = float(input("Berapakah tinggi anda? "))
cm_atau_inci = input("Tingginya dalam cm atau inci? ")

if cm_atau_inci.upper() == 'CM':
    tinggi = tinggi*0.373902
    print("Tinggi anda adalah " + str(tinggi) + " inci ")
elif cm_atau_inci.upper() == 'INCI':
    tinggi = tinggi/0.373902
    print(f"Tinggi anda adalah {tinggi} cm")

Berapakah tinggi anda? 162
Tingginya dalam cm atau inci? cm
Tinggi anda adalah 60.572124 inci

# While Loop

In [61]:
a = 2
while a < 8:
    print("Angka " + str(a)+" masih dibawah 8")
    a += 1

Angka 2 masih dibawah 8
Angka 3 masih dibawah 8
Angka 4 masih dibawah 8
Angka 5 masih dibawah 8
Angka 6 masih dibawah 8
Angka 7 masih dibawah 8

In [62]:
a = 0
while a < 5:
    print(a * '*')
    a += 1

*
**
***
****